:root {
    --theme: rgb(245, 245, 245);
    --code-bg: rgb(255, 255, 255);
    --accent: rgb(66, 175, 250);
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.list {
    background: var(--theme);
}

.post-badges {
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-badges img {
    display: inline;
}

.post-categories {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--secondary);
    font-size: small;
}

.post-content a {
    color: var(--accent);
}

.post-content code {
    border-radius: 0px;
}

.post-content a code {
    box-shadow: 0 -1px 0 var(--accent) inset;
}

.post-content pre {
    border-radius: var(--radius);
}

.list:not(.dark)::-webkit-scrollbar-track {
    background: var(--theme);
}

.list:not(.dark)::-webkit-scrollbar-thumb {
    border: 5px solid var(--theme);
}

/* Apply gradient animation to home */

/* #home {
    background: linear-gradient(-45deg, #fffc99, #ff8f8f, #997bde, #407fff);
    background-size: 400% 400%;
    -moz-animation: gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
    -ms-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
}

#home.dark {
    background: linear-gradient(-45deg, #25007a, #2821ad, #133d2a, #06120d);
    background-size: 400% 400%;
    -moz-animation: gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
    -ms-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
} */

/* Gradient animation */
/* 
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
