@import url("fontawesome-all.min.css");
@import url("academicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

html {
  scroll-behavior: smooth;
}

body {
  --text-color: black;
  --primary-color: gray;
  --secondary-color: white;
  --background-color: #f1f1f1;
  --accent-color: #82b3eb;
  --transition-speed: 0.5s;
  --header-height: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

body.dark-theme {
  --text-color: #f1f1f1;
  --primary-color: #aaaaaa;
  --secondary-color: #222222;
  --background-color: #333333;
  --accent-color: #82b3eb;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: xx-large;
}

/* Splash screen to hide transitions */
#splash {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  transition-delay: 0.3s;
  transition-duration: 1s;
}

/* The side navigation menu */
#navbar {
	position: fixed;
  top: var(--header-height);
  bottom: var(--header-height);
	width: 200px;
  height: auto;
	background-color: var(--background-color);
	overflow: auto;
  transition: var(--transition-speed);
  text-align: right;
}
  
/* Sidebar links */
#navbar a.navlink {
  display: block;
  color: var(--primary-color);
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
#navbar a.navlink:hover:not(.active) {
  color: var(--accent-color);
}

/* Active/current link */
#navbar a.navlink.active {
  color: var(--text-color);
}

/* Sidebar logo (TODO: is this needed?) */
#navbar #logo {
  display: block;
  width: 100%;
  margin: auto;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
#content {
  background-color: var(--background-color);
  margin-left: 200px;  /* Change this to be set on page load */
  margin-bottom: var(--header-height);
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition-speed);
}

/* Apply scroll margin to all elements in main content so header doesn't cut off elements */
#content * {
  scroll-margin-top: var(--header-height);
}

.footnote {
  font-size: small;
  color: var(--primary-color);
  text-align: center;
}

section {
  scroll-margin-top: var(--header-height);
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: justify;
  min-height: 100vh;
}

#home {
  padding: 0;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  /* width: 100%; */
}

header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: stretch;
  transition: var(--transition-speed);
  position: fixed;
  font-size: x-large;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 200px;
  height: var(--header-height);
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  transition: var(--transition-speed);
}

.socials {
  margin: auto;
  max-width: 600px;
  display: flex;
  flex: 1;
  font-size: x-large;
  /* align-items: flex-end; */
  /* vertical-align: bottom; */
}

.socials a {
  color: var(--primary-color);
  text-decoration: none;
  flex: 1;
}

.socials a:hover {
  color: var(--accent-color);
}

/* For use in menu and theme toggles */
button.toggle-button {
  /* width: 50px; */
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-color);
  font: inherit;
  /* flex: 1; */
}

button.toggle-button:hover {
  color: var(--accent-color);
  cursor: pointer;
}

#menu-button {
  text-align: left;
}

#theme-button {
  text-align: right;
}

/* .abstract {
  display: none; 
  text-align: justify;
} */

.publication {
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* scroll-margin-top: var(--header-height); */
}

.publication .authors {
  font-size: large;
  font-style: italic;
  margin-top: 0;
}

.publication .sources {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: x-large;
}

.publication .sources .icon.brands {
  font-size: 0.85em;
}

details > summary {
  color: var(--primary-color);
  cursor: pointer;
  list-style: none;
}

details > summary:hover {
  color: var(--accent-color);
}

details > summary:before {
  content: "show ";
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] > summary:before {
  content: "hide ";
}

details.abstract {
  text-align: justify;
}

/* Google material symbols */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  /* font-size: x-large; */
  transition: var(--transition-speed);
  font-size: inherit;
}

/* Icons (Font Awesome 5) */

.icon {
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
}

.icon:before {
  line-height: inherit;
}

.icon > .label {
  display: none;
}

/* Academicons (AI) implementation - Alex Lyttle, 13 Jan 2021 */
.icon.ai:before {
  font-family: 'Academicons';
}

form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

/* form input {
  margin: 5px 0px;
  padding: 5px;
}

form textarea {
  margin: 5px 0px;
  padding: 5px;
} */

form input,
form select,
form textarea {
  /* border: 1px solid var(--primary-color); */
  border: 0;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  margin: 5px;
  width: 100%;
  border-radius: 4px;
  font: inherit;
  color: var(--text-color);
}

form textarea {
  /* Vertical-only resizing and border config - Alex Lyttle, 10 Jan 2021 */
  resize: vertical;
  min-height: 4.5em;
}

form input::placeholder, form textarea::placeholder {
  color: var(--primary-color);
  /* font-style: italic; */
  /* font-weight: 200; */
}

form input[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: pointer;
  max-width: 150px;
}

form  input[type="submit"]:hover {
	background-color: var(--accent-color);
}

form #message-count {
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
  }

/* Spacer which fills flexbox */
.flex-spacer {
  flex: 1;
}

/* On screens that are less than 700px wide, move sidebar to top */
@media screen and (max-width: 700px) {
  body {
    --header-height: 10vh;
    max-width: 700px;
  }
  #navbar {
    width: 50%;
    height: auto;
    padding: 0 25% 10px 25%;
    overflow-y: scroll;
    top: var(--header-height);
    max-height: 80vh;
  }

  #navbar a {text-align: center; font-size: large;}
  
  #content {margin-left: 0; margin-right: 0; text-align: center;}

  header {
    height: var(--header-height);
    font-size: xx-large;
  }

  footer {
    width: 100%;
    height: var(--header-height);
  }

  .socials {
    font-size: xx-large;
  }

  #home {
    flex-direction: column;
    justify-content: center;
  }
}

/* If reduced motion prefered, get rid of scroll behavior and transitions */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}

  body {
    --transition-speed: 0s;
  }
}

/* When the system prefers a dark colour scheme */
@media (prefers-color-scheme: dark) {
  /* Avoids flash of light on load if using javascript alone */
  body {
    --text-color: #f1f1f1;
    --primary-color: #aaaaaa;
    --secondary-color: #222222;
    --background-color: #333333;
    --accent-color: #82b3eb;
  }

  body.light-theme {
    --text-color: black;
    --primary-color: gray;
    --secondary-color: white;
    --background-color: #f1f1f1;
    --accent-color: #82b3eb;
  }
}