{{- $scratch := newScratch }}

{{- if not .page.Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.page.Date) (.page.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.page.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .page.ReadingTime | default (printf "%d min" .page.ReadingTime))) }}
{{- end }}

{{- if (.page.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .page.WordCount | default (printf "%d words" .page.WordCount))) }}
{{- end }}

{{- if not (.page.Param "hideAuthor") -}}
{{- if .isList }}
{{- with (partial "author-truncated.html" .page) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- else }}
{{- with (partial "author.html" .page) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
<p>{{- delimit . "&nbsp;&bull;&nbsp;" -}}</p>
{{- end -}}
